Flask
gunicorn
matplotlib
matplotlib-inline
numpy
opencv-python
pandas
pillow
requests
scikit-learn
scipy
seaborn
streamlit
streamlit-option-menu
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
Werkzeug
